/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*  ----------------------- BODY --------------------------- */
body{
    font-family: $defaultFont;
    font-weight: $normalWeight;
    font-size: 16px;
}


/*  ----------------------- HEADER --------------------------- */
header {
   
    
} // end of header



/*  ----------------------- NAVIGATION --------------------------- */
nav {


} // end nav


/*  ----------------------- MAIN --------------------------- */
main {
    
    
    
} // end main














/*  ----------------------- FOOTER --------------------------- */
footer {
    width: 100%;
    background-color: $primaryColor;
    
    p {
        text-align: center;
        color: $secondaryColor;
        padding: .75rem 0;
        font-size: .9rem;
    } // end p
    
    p a {color: $secondaryColor;}
    
} // end footer


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
